@model Slumpade_Labb8.Models.Kontakter

@{
    ViewBag.Title = "Bekräfta borttagning av kontakten.";
}

<h1>Bekräfta borttagningen</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        Bekräfta att du vill ta bort <strong>@Model.Fornamn</strong>
    </p>
    <p>
        <button class="btn btn-danger">"Ta bort"</button>
    </p>
    <p>
        @Html.ActionLink("Tillbaka till listan", "index")
    </p>
}


